/* screen view styles */
/* line 1, ../../sass/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 14, ../../sass/_reset.sass */
:focus {
  outline: 0;
}

/* line 17, ../../sass/_reset.sass */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 22, ../../sass/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../sass/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 31, ../../sass/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 36, ../../sass/_reset.sass */
blockquote:before, blockquote:after {
  content: "";
}

/* line 40, ../../sass/_reset.sass */
q:before, q:after {
  content: "";
}

/* line 43, ../../sass/_reset.sass */
blockquote, q {
  quotes: "" "";
}

/** jQuery UI CSS Framework
 ** Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
 ** Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses. */
/* Layout helpers
 *---------------------------------- */
/* line 9, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-helper-hidden {
  display: none;
}

/* line 12, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-helper-hidden-accessible {
  position: absolute;
  left: -99999999px;
}

/* line 16, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 26, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-helper-clearfix {
  display: inline-block;
}
/* line 27, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* required comment for clearfix to work in Opera \ */
/* line 37, ../../sass/_jquery-ui-1.8.2.custom.sass */
* html .ui-helper-clearfix {
  height: 1%;
}

/* line 40, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-helper-clearfix {
  display: block;
}

/* end clearfix */
/* line 45, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* Interaction Cues
 *---------------------------------- */
/* line 57, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
 *---------------------------------- */
/* states and images */
/* line 65, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
 *---------------------------------- */
/* Overlays */
/* line 76, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** jQuery UI CSS Framework
 ** Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
 ** Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
 ** To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Lucida%20Grande,%20Lucida%20Sans,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=5c9ccc&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=55&borderColorHeader=4297d7&fcHeader=ffffff&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=06_inset_hard.png&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=469bdd&bgColorDefault=dfeffc&bgTextureDefault=02_glass.png&bgImgOpacityDefault=85&borderColorDefault=c5dbec&fcDefault=2e6e9e&iconColorDefault=6da8d5&bgColorHover=d0e5f5&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=79b7e7&fcHover=1d5987&iconColorHover=217bc0&bgColorActive=f5f8f9&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=100&borderColorActive=79b7e7&fcActive=e17009&iconColorActive=f9bd01&bgColorHighlight=fbec88&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=fad42e&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px */
/* Component containers
 *---------------------------------- */
/* line 92, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1.1em;
}
/* line 95, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget .ui-widget {
  font-size: 1em;
}
/* line 97, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1em;
}

/* line 101, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-content {
  border: 1px solid #a6c9e2;
  background: #fcfdfd url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x;
  color: #222222;
}
/* line 105, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-content a {
  color: #222222;
}

/* line 108, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-header {
  border: 1px solid #4297d7;
  background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
  color: white;
  font-weight: bold;
}
/* line 113, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-header a {
  color: white;
}

/* Interaction states
 *---------------------------------- */
/* line 119, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #c5dbec;
  background: #dfeffc url(images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #2e6e9e;
}

/* line 125, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-default a {
  color: #2e6e9e;
  text-decoration: none;
}
/* line 128, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-default a:link, .ui-state-default a:visited {
  color: #2e6e9e;
  text-decoration: none;
}

/* line 132, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #79b7e7;
  background: #d0e5f5 url(images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #1d5987;
}

/* line 138, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-hover a {
  color: #1d5987;
  text-decoration: none;
}
/* line 141, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-hover a:hover {
  color: #1d5987;
  text-decoration: none;
}

/* line 145, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #79b7e7;
  background: #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #e17009;
}

/* line 151, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-active a {
  color: #e17009;
  text-decoration: none;
}
/* line 154, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-active a:link, .ui-state-active a:visited {
  color: #e17009;
  text-decoration: none;
}

/* line 158, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget :active {
  outline: none;
}

/* Interaction Cues
 *---------------------------------- */
/* line 164, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fad42e;
  background: #fbec88 url(images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x;
  color: #363636;
}

/* line 169, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

/* line 172, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a;
}

/* line 177, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

/* line 180, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

/* line 183, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 188, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* Icons
 *---------------------------------- */
/* states and images */
/* line 198, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(images/ui-icons_469bdd_256x240.png);
}

/* line 203, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_469bdd_256x240.png);
}

/* line 206, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_d8e7f3_256x240.png);
}

/* line 209, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_6da8d5_256x240.png);
}

/* line 212, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_217bc0_256x240.png);
}

/* line 215, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_f9bd01_256x240.png);
}

/* line 218, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_2e83ff_256x240.png);
}

/* line 221, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
/* line 226, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 229, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 232, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 235, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 238, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 241, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 244, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 247, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 250, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 253, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 256, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 259, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 262, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 265, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 268, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 271, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 274, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 277, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 280, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 283, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 286, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 289, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 292, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 295, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 298, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 301, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 304, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 307, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 310, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 313, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 316, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 319, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 322, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 325, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 328, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 331, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 334, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 337, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 340, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 343, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 346, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 349, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 352, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 355, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 358, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 361, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 364, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 367, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 370, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 373, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 376, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 379, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 382, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 385, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 388, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 391, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 394, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 397, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 400, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 403, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 406, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 409, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 412, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 415, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 418, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 421, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 424, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 427, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 430, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 433, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 436, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 439, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 442, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 445, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 448, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 451, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 454, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 457, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 460, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 463, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 466, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 469, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 472, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 475, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 478, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 481, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 484, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 487, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 490, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 493, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 496, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 499, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 502, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 505, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 508, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 511, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 514, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 517, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 520, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 523, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 526, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 529, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 532, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 535, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 538, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 541, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 544, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 547, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 550, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 553, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 556, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 559, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 562, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 565, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 568, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 571, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 574, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 577, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 580, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 583, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 586, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 589, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 592, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 595, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 598, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 601, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 604, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-radio-off {
  background-position: -96px -144px;
}

/* line 607, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-radio-on {
  background-position: -112px -144px;
}

/* line 610, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 613, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 616, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 619, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 622, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 625, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 628, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 631, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-seek-start, .ui-icon-seek-first {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/* line 636, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 639, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 642, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 645, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 648, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 651, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 654, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 657, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 660, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 663, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 666, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 669, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 672, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 675, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 678, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 681, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 684, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 687, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 690, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 693, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 696, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 699, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 702, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 705, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 708, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 711, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 714, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 717, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 720, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 723, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 726, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 729, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 732, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 735, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 738, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 741, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 744, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
 *---------------------------------- */
/* Corner radius */
/* line 752, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-tl {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 757, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-tr {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 762, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-bl {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 767, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-br {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 772, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 780, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 788, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-right {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 796, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-left {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 804, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-corner-all {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Overlays */
/* line 811, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-overlay {
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity=30);
}

/* line 816, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity=30);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/*                                                                                                                                                                                                                                                               Resizable
 * ---------------------------------- */
/* line 829, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable {
  position: relative;
}

/* line 832, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

/* line 838, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 841, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 848, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 855, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 862, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 869, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 876, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 883, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 890, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/*                                                                                           Selectable
 * ---------------------------------- */
/* line 900, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-selectable-helper {
  border: 1px dotted black;
}

/* Accordion
 *---------------------------------- */
/* line 907, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
}
/* line 912, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion .ui-accordion-li-fix {
  display: inline;
}
/* line 914, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}
/* line 916, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: 0.5em 0.5em 0.5em 0.7em;
}
/* line 920, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion a {
  zoom: 1;
}

/* IE7-/Win - Fix extra vertical space in lists */
/* line 925, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}

/* line 929, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px;
}
/* line 934, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1;
}
/* line 944, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-accordion .ui-accordion-content-active {
  display: block;
}

/*                                                                  Autocomplete
 * ---------------------------------- */
/* line 950, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-autocomplete {
  position: absolute;
  cursor: default;
}

/* line 954, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

/* workarounds */
/* line 959, ../../sass/_jquery-ui-1.8.2.custom.sass */
* html .ui-autocomplete {
  width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
/* Menu
 *---------------------------------- */
/* line 967, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
}
/* line 972, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-menu .ui-menu {
  margin-top: -3px;
}
/* line 974, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
/* line 981, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  zoom: 1;
}
/* line 987, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/* Button
 *---------------------------------- */
/* line 994, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: 0.1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

/* the overflow property removes extra width in IE */
/* line 1007, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-icon-only {
  width: 2.2em;
}

/* to make room for the icon, a width needs to be set here */
/* line 1012, ../../sass/_jquery-ui-1.8.2.custom.sass */
button.ui-button-icon-only {
  width: 2.4em;
}

/* button elements seem to need a little more width */
/* line 1017, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-icons-only {
  width: 3.4em;
}

/* line 1020, ../../sass/_jquery-ui-1.8.2.custom.sass */
button.ui-button-icons-only {
  width: 3.7em;
}

/*button text element */
/* line 1025, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button .ui-button-text {
  display: block;
  line-height: 1.4;
}

/* line 1029, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-text-only .ui-button-text {
  padding: 0.4em 1em;
}

/* line 1032, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: 0.4em;
  text-indent: -9999999px;
}

/* line 1036, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-text-icon .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
}

/* line 1039, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
  padding-left: 2.1em;
  padding-right: 2.1em;
}

/* no icon support for input elements, provide padding by default */
/* line 1046, ../../sass/_jquery-ui-1.8.2.custom.sass */
input.ui-button {
  padding: 0.4em 1em;
}

/*button icon element(s) */
/* line 1051, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-icon-only .ui-icon, .ui-button-text-icon .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 1056, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

/* line 1060, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
  left: 0.5em;
}

/* line 1063, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: 0.5em;
}

/*button sets */
/* line 1068, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-buttonset {
  margin-right: 7px;
}
/* line 1070, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}

/* workarounds */
/* line 1076, ../../sass/_jquery-ui-1.8.2.custom.sass */
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* reset extra padding in Firefox */
/* Dialog
 *---------------------------------- */
/* line 1085, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog {
  position: absolute;
  padding: 0.2em;
  width: 300px;
  overflow: hidden;
}
/* line 1090, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-titlebar {
  padding: 0.5em 1em 0.3em;
  position: relative;
}
/* line 1093, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1em 16px 0.2em 0;
}
/* line 1096, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
}
/* line 1104, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
}
/* line 1107, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0;
}
/* line 1109, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-content {
  border: 0;
  padding: 0.5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}
/* line 1115, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: 0.5em 0 0 0;
  padding: 0.3em 1em 0.5em 0.4em;
}
/* line 1121, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-dialog-buttonpane button {
  float: right;
  margin: 0.5em 0.4em 0.5em 0;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  line-height: 1.4em;
  width: auto;
  overflow: visible;
}
/* line 1129, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

/* line 1135, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* Slider
 *---------------------------------- */
/* line 1141, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider {
  position: relative;
  text-align: left;
}
/* line 1144, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
/* line 1150, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* line 1158, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-horizontal {
  height: 0.8em;
}
/* line 1160, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
/* line 1163, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
/* line 1166, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
/* line 1168, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 1171, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-vertical {
  width: 0.8em;
  height: 100px;
}
/* line 1174, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
/* line 1178, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
/* line 1181, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
/* line 1183, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/*                                                        Tabs
 * ---------------------------------- */
/* line 1189, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs {
  position: relative;
  padding: 0.2em;
  zoom: 1;
}
/* line 1193, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0.2em 0.2em 0;
}
/* line 1196, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 1px;
  margin: 0 0.2em 1px 0;
  border-bottom: 0 !important;
  padding: 0;
  white-space: nowrap;
}
/* line 1205, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 0.5em 1em;
  text-decoration: none;
}
/* line 1209, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin-bottom: 0;
  padding-bottom: 1px;
}
/* line 1212, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  cursor: text;
}
/* line 1214, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}
/* line 1216, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-nav li a {
  cursor: pointer;
}
/* line 1218, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}
/* line 1220, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}
/* line 1225, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-tabs .ui-tabs-hide {
  display: none !important;
}

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
/* Datepicker
 *---------------------------------- */
/* line 1235, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
}
/* line 1238, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}
/* line 1241, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
/* line 1246, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
/* line 1248, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
/* line 1250, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
/* line 1252, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
/* line 1254, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
/* line 1256, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
/* line 1263, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
/* line 1267, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
/* line 1271, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
/* line 1273, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
/* line 1275, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
/* line 1280, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
/* line 1285, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
/* line 1288, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}
/* line 1293, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
/* line 1300, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}
/* line 1307, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* line 1309, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

/* with multiple calendars */
/* line 1314, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
/* line 1316, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em;
}

/* line 1320, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

/* line 1323, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

/* line 1326, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

/* line 1330, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
/* line 1332, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

/* line 1335, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}

/* RTL support */
/* line 1341, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl {
  direction: rtl;
}
/* line 1343, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
/* line 1346, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
/* line 1349, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
/* line 1352, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
/* line 1355, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
/* line 1357, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
/* line 1359, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
/* line 1361, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
/* line 1363, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
/* line 1369, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5 */
  display/**/: block;
  /*sorry for IE5 */
  position: absolute;
  /*must have */
  z-index: -1;
  /*must have */
  filter: mask();
  /*must have */
  top: -4px;
  /*must have */
  left: -4px;
  /*must have */
  width: 200px;
  /*must have */
  height: 200px;
  /*must have */
}

/*     Progressbar
 * ---------------------------------- */
/* line 1392, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-progressbar {
  height: 2em;
  text-align: left;
}
/* line 1395, ../../sass/_jquery-ui-1.8.2.custom.sass */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

/* line 13, ../../sass/screen.sass */
body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* line 18, ../../sass/screen.sass */
body {
  font-size: 62.5%;
}

/* line 21, ../../sass/screen.sass */
#wrapper {
  overflow: hidden;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin: 0 auto;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#wrapper {
  display: block;
}

/* line 26, ../../sass/screen.sass */
#footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 29, ../../sass/screen.sass */
#header {
  background-color: #c9e2ff;
  padding: 15px 0;
  border-bottom: 1px solid black;
}
/* line 33, ../../sass/screen.sass */
#header a#logo {
  margin-left: 0;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  padding-right: 600px;
  font-size: 1.9em;
  text-shadow: 1px 1px 5px black;
  color: black;
  text-decoration: none !important;
}

/* line 42, ../../sass/screen.sass */
.action_header {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 46, ../../sass/screen.sass */
.action_header strong {
  font-size: 1.1em;
}

/* line 49, ../../sass/screen.sass */
#steps, #creds {
  overflow: hidden;
  display: inline-block;
  background-color: #c9e2ff;
  padding: 15px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#steps, #creds {
  display: block;
}
/* line 55, ../../sass/screen.sass */
#steps button#checkout_btn, #creds button#checkout_btn {
  float: right;
  margin-right: 50px;
}

/* line 59, ../../sass/screen.sass */
#creds {
  background-color: #d8ffc9;
  display: none;
}

/* line 63, ../../sass/screen.sass */
#step_form {
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#step_form {
  display: block;
}

/* line 66, ../../sass/screen.sass */
#step1 {
  margin-left: 0;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
/* line 69, ../../sass/screen.sass */
#step1 input {
  width: 209px;
}

/* line 72, ../../sass/screen.sass */
#step2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
}
/* line 74, ../../sass/screen.sass */
#step2 .ui-buttonset .ui-button {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 78, ../../sass/screen.sass */
#step2 .ui-button-text-only .ui-button-text {
  padding: 0.5em 0.7em !important;
}
/* line 81, ../../sass/screen.sass */
#step2 label span.free_tag {
  color: #0ff756;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: -5px;
  margin-top: -9px;
  position: absolute;
  text-shadow: 1px 1px 2px black;
}

/* line 90, ../../sass/screen.sass */
#step3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

/* line 93, ../../sass/screen.sass */
#step4 {
  margin-right: 0;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
}

/* line 97, ../../sass/screen.sass */
#login {
  margin-left: 0;
  padding-left: 60px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

/* line 102, ../../sass/screen.sass */
#register {
  padding-left: 60px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  padding-right: 120px;
}

/* line 108, ../../sass/screen.sass */
#login label, #register label {
  display: block;
  width: 100px;
  margin-bottom: 5px;
}
