<div id="body">
  <h1>Welcome to 3shots</h1>
  
  <p>3Shots is a service that lets you easily and quickly test your website in multiple browsers</p>
  
  <%= render :partial => "shared/newJob", :locals => {:form_state => "new_order"} %>
  
  <%= render :partial => "shared/newOrder" %> 
  
</div>

