<div id="wrapper">
  <div id="main">
      <div id="header">
          <a href="">SeanShots</a>
      </div>
      <div id="body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        
        <div id="steps">
            <form id="step_form">
              <div id="step1" class="step">
                <p class="action_header"><strong>Step 1 -</strong> List your pages</p>
                <input type="text">
                <a href="#">Add Another</a>
              </div>
              
              <div id="step2" class="step">
                <p class="action_header"><strong>Step 2 -</strong> Pick your browsers</p>
                <input type="checkbox" name="ff_check" id="ff_check" /><label for="ff_check">FireFox</label>
                <input type="checkbox" name="safari_check" id="safari_check" /><label for="safari_check">Safari</label>
                <input type="checkbox" name="chrome_check" id="chrome_check" /><label for="chrome_check">Chrome</label>
                <input type="checkbox" name="ie8_check" id="ie8_check" /><label for="ie8_check">IE8</label>
                <input type="checkbox" name="ie7_check" id="ie7_check" /><label for="ie7_check">IE7</label>
                <input type="checkbox" name="ie6_check" id="ie6_check" /><label for="ie6_check">IE6</label>
              </div>
              
              <div id="step3" class="step">
                <p class="action_header"><strong>Step 3 -</strong> Set an interval</p>
                <select>
                  <option>Just Once</option>
                  <option>Once a minute</option>
                  <option>Once a hour</option>
                  <option>Once a day</option>
                </select>
                <select>
                  <option>For a Day</option>
                  <option>For a Week</option>
                  <option>For a Month</option>
                  <option>For a Year</option>
                </select>
              </div>
              
              <div id="step4" class="step">
                <p class="action_header"><strong>Your Total</strong></p>
                <ul>
                  <li id="page_total">1 - page</li>
                  <li id="broser_total">1 - browsers</li>
                  <li id="shot_total">1 - total shots</li>
                  <li><br /></li>
                  <li id="shot_price">$0.02 shot price</li>
                  <li><br /></li>
                  <li id="total_price">$0.04 Total price</li>
                <ul>
              </div>
              
              <button>Check Out</button>
            </form>
        </div>
        
        <div id="creds">
          
          <div id="login" class="cred">
            <form id="login_form" action="/user/" method="post">
            </form>
          </div>
          
          <div id="register" class="cred">
            <from id="register_form" action="/user/new" method="post">
            
            </form>
          </div>
          
        </div>
        
      </div>
  </div>
</div>
<div id="footer">
</div>
