<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>SeanShots <%= controller.action_name %></title>
	<%= stylesheet_link_tag("screen") %>
	<%= stylesheet_link_tag('scaffold') %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
	
	<script type="text/javascript" src="/javascripts/lib/Object.js"></script>
	<script type="text/javascript" src="/javascripts/lib/String.js"></script>

	
	<script type="text/javascript" src="/javascripts/jCore.js"></script>
	
	<script type="text/javascript" src="/javascripts/modules/login.js"></script>
	<script type="text/javascript" src="/javascripts/modules/step1.js"></script>
	<script type="text/javascript" src="/javascripts/modules/step2.js"></script>
	<script type="text/javascript" src="/javascripts/modules/step3.js"></script>
	<script type="text/javascript" src="/javascripts/modules/step4.js"></script>
	<script type="text/javascript" src="/javascripts/modules/stepControl.js"></script>
	<script type="text/javascript" src="/javascripts/modules/credControl.js"></script>
	<script type="text/javascript" src="/javascripts/modules/accountManager.js"></script>

	<script type="text/javascript" src="/javascripts/jquery.disable.js"></script>
	<script type="text/javascript" src="/javascripts/facebox.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
	$.core.registerModules('step1, step2, step3, step4, stepControl, credControl, accountManager, login');
	 $(document).ready(function(){
	    $.core.init();
	    $("#account_links").accountManager();
	    $("#login").login();
	    $('#step1').step1();
	    $('#step2').step2();
	    $('#step3').step3();
	    $('#step4').step4();
	    $("#steps").stepControl();
	    $("#creds").credControl();
	 });
	</script>

</head>
<body>
    
  <%= yield %>
  
</body>
</html>